---
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
---
{% include 'siteHead.html' %}
<body>
    {% include 'head.html' %}
    <div id="wrap">
      <div class="page-content">
        <div class="wrapper">
          <section role="main">
            <ul class="slats">
          {% for post in pagination.items %}
        <li>
          {% if post.data.img %}
            <img src="/img/{{post.data.img.image}}" alt="{{post.data.img.alt}}" />
          {% else %}
            <img src="/img/generic.png" alt="WPO Stats Icon" />
          {% endif %}
          <p>
            <a href="{{ post.data.storySource }}">{{ post.data.title }}</a>
            <small>
              <a href="{{ post.data.permalink }}">Permalink</a>
              <a class="share-twitter" href="https://twitter.com/intent/tweet?text={{ post.data.title | cgi_escape }} https%3A%2F%2Fwpostats.com%2F{{ post.data.permalink | cgi_escape}}">Share on Twitter</a>
            </small>
          </p>
          <span class="tags">
            {% for tag in post.data.tags %}
              <a class="tag" href="/tags/{{tag}}">#{{tag}}</a> 
            {% endfor %}
          </span>
        </li>
      {% endfor %}
            </ul>
            {% if pagination.pages.length > 1 %}
    <div class="pagination">
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}">&laquo; Prev</a>
      {% endif %}

      {% for pageUrl in pagination.hrefs %}
        {% if page.url == pageUrl %}
          <em class="current">{{ forloop.index }}</em>
        {% else %}
          <a href="{{ pageUrl }}">{{ forloop.index }}</a>
        {% endif %}
      {% endfor %}

      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}">Next &raquo;</a>
      {% endif %}
    </div>
    {% endif %}
            </section>
            <nav role="navigation">
            {% include "tagbar.html" %}
                {% include "rssbar.html" %}
            </nav>
        </div>
      </div>
    </div>
    {% include "footer.html" %}
</body>